.search-bar {
  font-size: 20px;
  margin-left: 12px;
}
.header {
  height: 55px;

  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.left-section {
  background-color: lightblue;
  width: 150px;
  margin-left: 70px;
}
.middle-section {
  background-color: lightpink;
  flex: 1;
  margin-right: 35px;
  max-width: 500px;
}
.right-section {
  background-color: lightblue;
  width: 200px;
}
