.search-bar {
  font-size: 16px;
  width: 0;
  height: 36px;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
  margin-left: 12px;
  padding-left: 10px;
  flex: 1;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.header {
  height: 55px;

  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.left-section {
  display: flex;
  margin-left: 70px;
  align-items: center;
}
.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-color: rgb(196, 196, 196);
  margin-left: -1px;
  margin-right: 10px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 244, 244);
}
.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}
.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 35px;
  max-width: 500px;
}
.search-icon {
  height: 24px;
  margin-top: 4px;
}
.right-section {
  display: flex;
  margin-right: 7px;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  flex-shrink: 0;
}
.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.current-user-picture {
  height: 32px;
  border-radius: 16px;
}
