.thumbnail,
.thumbnail-2 {
  width: 100%;
}
.video-title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.profile-picture {
  width: 40px;
  border-radius: 50px;
}
.thumbnail-row {
  margin-bottom: 12px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.video-author,
.video-stats {
  display: block;
  font-size: 13px;
  color: rgb(96, 96, 96);
  margin-top: 4px;
}
.video-author {
  margin-bottom: 4px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo {
  height: 20px;
}
