.search-bar {
  font-size: 16px;
  flex: 1;
  width: 0;
  height: 36px;
  border: 1px solid rgb(196, 196, 196);
  margin-left: 12px;
  padding-left: 10px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.header {
  height: 55px;

  justify-content: space-between;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(215, 213, 213);
}
.left-section {
  display: flex;
  align-items: center;
}
.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-color: rgb(196, 196, 196);
  margin-left: -1px;
  margin-right: 10px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto, Arial;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 244, 244);
}
.voice-search-icon {
  height: 24px;
}
.middle-section {
  display: flex;
  margin-left: 70px;
  align-items: center;
  flex: 1;
  margin-right: 35px;
  max-width: 500px;
}
.search-icon {
  height: 24px;
}
.right-section {
  display: flex;
  margin-right: 7px;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  flex-shrink: 0;
}
.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.current-user-picture {
  height: 32px;
  border-radius: 16px;
}
