.thumbnail {
  width: 100%;
}
.video-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.profile-picture {
  width: 36px;
  border-radius: 50px;
}
.profile-picture-container {
  position: relative;
  display: inline-block;
}
.channel-tooltip {
  background-color: white;
  width: 250px;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 55px;
  z-index: 300;

  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.profile-picture-container:hover .channel-tooltip {
  opacity: 1;
}
.channel-tooltip-picture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 8px;
}
.channel-tooltip-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}
.channel-tooltip-stats {
  color: rgb(96, 96, 96);
  font-size: 14px;
}
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 4px;
}
.video-author {
  margin-bottom: 4px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo {
  height: 20px;
}
.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
